---
// source: https://www.a11y-collective.com/blog/accessible-accordion/
---
<div class="accordion">
    <details class="w-full">
      <summary id="accordion1" class="w-full flex justify-between border-2 border-solid border-black p-4 border-b-0 focus:outline-offset-[-6px] focus:shadow-inset focus:shadow-white">What is an accordion?</summary>
      <div id="panel1" class="border-l-2 border-r-2 border-solid border-black">
        <p>An accordion is a UI component that allows users to expand and collapse sections of content.</p>
      </div>
    </details>
  
    <details>
      <summary id="accordion2">How does it improve user experience?</summary>
      <div id="panel2">
        <p>Accordions help reduce clutter and make information easier to digest, enhancing the overall user experience.</p>
      </div>
    </details>
  </div>