---
// https://github.com/markteekman/accessible-astro-components/blob/main/AccordionItem.astro
interface Props {
  header: string;
  children: any;
}

const { header } = Astro.props;
---

<li class="group accordion__item w-full px-4">
  <h3>
    <button
      id="accordion-header-1"
      class="accordion__header w-full flex justify-between border-2 border-solid border-black p-4 border-b-0 focus:outline-offset-[-6px] focus:shadow-inset focus:shadow-white group-only-of-type:border-2 group-only-of-type:border-solid group-only-of-type:border-black group-last-of-type:border-2 group-last-of-type:border-solid group-last-of-type:border-black group-[.is-active]:border-2 group-[.is-active]:border-solid group-[.is-active]:border-black"
      aria-expanded="false"
      aria-controls="accordion-panel-1"
      onclick="toggleAccordionItem()"
    >
      {header}
      <svg
        class="header__toggle-indicator w-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
        ></path>
      </svg>
    </button>
  </h3>
  <div
    id="accordion-panel-1"
    role="region"
    class="accordion__panel invisible overflow-hidden h-0 border-l-2 border-r-2 border-solid border-black group-only-of-type:border-b-2 group-only-of-type:border-solid group-only-of-type:border-black group-last-of-type:border-b-2 group-last-of-type:border-solid group-last-of-type:border-black group-[.is-active]:visible group-[.is-active]:h-fit transition-all ease-in-out duration-300"
    aria-labelledby="accordion-header-1"
  >
    <div class="panel__inner py-8 px-4">
      <slot />
    </div>
  </div>
</li>
