---
// source: https://github.com/markteekman/accessible-astro-components/blob/main/BreadcrumbsItem.astro
interface Props {
  href?: string;
  label: string;
  currentPage?: boolean;
}

const { href = "#", label = "Breadcrumb", currentPage = false } = Astro.props;
---

<li class="inline ps-0 after:content-['/'] after:m-2 last:after:content-['']">
  {
    currentPage ? (
      <span aria-current="page">{label}</span>
    ) : (
      <a href={href}>{label}</a>
    )
  }
</li>
