---
// source: https://github.com/markteekman/accessible-astro-starter/blob/main/src/components/Header.astro
import Navigation from "../components/Navigation.astro";
import NavigationLink from "./NavigationLink.astro";
import SkipLinks from "../components/SkipLinks.astro";
import { Icon } from "astro-icon/components";
---

<header>
  <SkipLinks />
  <Navigation>
    <NavigationLink href="/" title="Home" />
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item prose">
      <a href="/portfolio/">Portfolio</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
    <li class="menu-item">
      <a href="/about/">About Me</a>
    </li>
    <li class="menu-item type-icon">
      <a
        href="https://www.linkedin.com/in/kruse-jessica"
        title="Go to LinkedIn page"
        class="block"
      >
        <Icon name="ion:logo-linkedin" class="prose dark:prose-invert h-auto -mt-1 w-8" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a
        href="https://github.com/jesskruse"
        title="Go to GitHub page"
        class="block"
      >
        <Icon name="ion:logo-github" class="prose dark:prose-invert h-auto -mt-1 w-8" />
      </a>
    </li>
  </Navigation>
</header>
