---
// source: https://github.com/markteekman/accessible-astro-starter/blob/main/src/components/Header.astro
import Navigation from "../components/Navigation.astro";
import NavigationLink from "./NavigationLink.astro";
import SkipLinks from "../components/SkipLinks.astro";
import NavigationButtonIcon from "./NavigationButtonIcon.astro";
---

<header>
  <SkipLinks />
  <Navigation>
    <NavigationLink href="/" title="Home" />
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item prose">
      <a href="/portfolio/">Portfolio</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
    <li class="menu-item">
      <a href="/about/">About Me</a>
    </li>
    <li class="menu-item type-icon">
      <NavigationButtonIcon
        href="https://www.linkedin.com/in/kruse-jessica"
        linkTitle="Go to LinkedIn page"
        iconName="ion:logo-linkedin"
      />
    </li>
    <li class="menu-item type-icon">
      <NavigationButtonIcon
        href="https://github.com/jesskruse"
        linkTitle="Go to GitHub page"
        iconName="ion:logo-github"
      />
    </li>
  </Navigation>
</header>
