---
// source: https://github.com/markteekman/accessible-astro-starter/blob/main/src/components/Navigation.astro
import ResponsiveToggleButton from "./ResponsiveToggleButton.astro";
import DarkModeButton from "./DarkModeButton.astro";
import { Image } from "astro:assets";
import logo from "../assets/img/logo.svg";
---

<div id="main-navigation" class="group is-desktop py-8">
  <div class="container flex justify-between flex-wrap">
    <a href="/" class="flex items-center gap-2 !no-underline">
      <Image src={logo} alt="Your Logo" width="47" height="37" />
      <span class="font-bold">Jessica Kruse</span>
    </a>
    <div class="wrapper">
      <nav
        class="desktop-menu group-[.is-desktop]:visible group-[.is-desktop]:static"
        aria-label="Main navigation desktop"
      >
        <ul class="menu">
          <slot />
        </ul>
      </nav>
      <DarkModeButton />
      <ResponsiveToggleButton />
    </div>
    <nav
      class="mobile-menu group-[.is-desktop]:hidden group-[.is-mobile]:hidden"
      aria-label="Main navigation mobile"
    >
      <ul class="menu">
        <slot />
      </ul>
    </nav>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    // variables
    const mainNav = document.querySelector("#main-navigation");
    const mainMenu = mainNav.querySelector("ul");

    // functions
    const setActiveMenuItem = () => {
      const mobileDesktopMenus = mainNav.querySelectorAll("nav > ul");
      const currenPathname = window.location.pathname;

      mobileDesktopMenus.forEach((menu) => {
        const menuItems = [
          ...menu.querySelectorAll('a:not([rel*="external"])'),
        ] as HTMLAnchorElement[];

        menuItems.forEach((menuItem) => {
          if (
            currenPathname.includes(menuItem.pathname.replaceAll("/", "")) &&
            menuItem.textContent !== "Home"
          ) {
            menuItem.classList.add("is-active");
            menuItem.setAttribute("aria-current", "page");
          } else if (
            menuItem.textContent === "Home" &&
            currenPathname === "/"
          ) {
            menuItem.classList.add("is-active");
            menuItem.setAttribute("aria-current", "page");
          }
        });
      });
    };

    const checkMenuSize = () => {
      const mainNavWidth = mainNav.getBoundingClientRect().width;
      const desktopMenuWidth = document
        .querySelector(".desktop-menu")
        .getBoundingClientRect().width;
      const logoWidthBuffer = 300;
      const totalMenuWidth = Math.round(desktopMenuWidth) + logoWidthBuffer;

      if (totalMenuWidth >= mainNavWidth) {
        mainNav.classList.remove("is-desktop");
        mainNav.classList.add("is-mobile");
      } else if (totalMenuWidth <= mainNavWidth) {
        mainNav.classList.add("is-desktop");
        mainNav.classList.remove("is-mobile");
      }
    };

    setActiveMenuItem();
    checkMenuSize();

    window.addEventListener("resize", checkMenuSize);
  });
</script>
