---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<li class="menu-item prose prose-a:text-lg prose-a:text-teal-500 prose-a:no-underline hover:prose-a:underline hover:prose-a:decoration-wavy hover:prose-a:underline-offset-8 hover:prose-a:text-teal-600 focus:prose-a:outline focus:prose-a:outline-2 focus:prose-a:outline-transparent focus:prose-a:shadow focus:prose-a:shadow-black [&.is-active]:prose-a:font-bold">
  <a href={href} class="rounded-md p-1">{title}</a>
</li>

<!-- rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white -->
