---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<!--  -->
<li class="menu-item">
  <a
    href={href}
    class="prose rounded-md p-1 dark:prose-invert no-underline hover:text-sky-900 hover:underline hover:decoration-wavy hover:underline-offset-8 focus-visible:outline-dotted focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current dark:hover:text-sky-300 [&.is-active]:font-bold [&.is-active]:underline [&.is-active]:decoration-wavy [&.is-active]:underline-offset-8"
    >{title}</a
  >
</li>

<!-- rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white -->
