---
// source: https://docs.astro.build/en/recipes/tailwind-rendered-markdown/
// prose dark mode: https://github.com/tailwindlabs/tailwindcss-typography?tab=readme-ov-file#adapting-to-dark-mode
---

<div class="prose dark:prose-invert">
  <slot />
</div>
