---
// source: https://docs.astro.build/en/recipes/tailwind-rendered-markdown/
// prose dark mode: https://github.com/tailwindlabs/tailwindcss-typography?tab=readme-ov-file#adapting-to-dark-mode
---

<div class="prose mx-auto dark:prose-invert hover:prose-a:text-sky-900 focus-visible:prose-a:outline-dotted focus-visible:prose-a:outline-2 focus-visible:prose-a:outline-offset-2 focus-visible:prose-a:outline-current dark:hover:prose-a:text-sky-300">
  <slot />
</div>
