---
// source: https://github.com/markteekman/accessible-astro-components/blob/main/SkipLinks.astro
// tailwind styling: https://www.a11y-collective.com/blog/skip-to-main-content/#h-next-steps-beyond-skip-to-main-content-for-superior-web-accessibility
type Props = Record<string, never>;
---

<div class="skip-links">
  <a href="#main-content" class="rounded-br-3xl absolute left-0 top-0 bg-blue-500 text-white py-2 px-4 z-50 transform -translate-y-full focus:translate-y-0 transition">Skip to main content</a>
</div>

<script type="module">
  // variables
  const skipLink = document.querySelector(".skip-links a");

  // execution
  skipLink.addEventListener("keydown", (event) => {
    if (!event.target.closest("a")) return;
    const key = event.key;

    if (key !== "Enter") return;
    event.preventDefault();
    const target = event.target.getAttribute("href");

    if (document.querySelector(target)) {
      const targetElement = document.querySelector(target);
      targetElement.setAttribute("tabindex", "-1");
      targetElement.focus();
    } else if (
      !document.querySelector(target) &&
      document.querySelector("h1")
    ) {
      const h1 = document.querySelector("h1");
      h1.setAttribute("tabindex", "-1");
      h1.focus();
    } else {
      console.warn(
        "SkipLinks are not set, either missing an h1 or main content id on the page."
      );
    }
  });
</script>
