---
import Container from "../components/Container.astro";
import DefaultLayout from "./DefaultLayout.astro";

const { frontmatter } = Astro.props;
---

<DefaultLayout title={frontmatter.title}>
  <Container>
    <div class="prose my-12 dark:prose-invert">
      <slot />
    </div>
  </Container>
</DefaultLayout>
